@import "compass/css3";
@import "mixin";
@import "vars";



*{
    box-sizing : border-box;
}

a{
  &:hover{
    cursor: pointer;
    @include transition(all 0.2s ease-in-out 0s);
  }
}
.circle{
    width: $circleWith;
    height: $circleWith;

    @include border-radius($circleWith);
    text-align: center;
    display: inline-block;
    background: $blueFlatLight;
    .icon{
        line-height : $circleWith;
        color : $blueFlatShadow;

        @include transition(all 0.2s ease-in-out 0s);
        &:hover{
            @include scale(1.2);
        }
    }
}

body{
    background-color : #f5f5f5;
    font-size: $fontSize;
    color : #ffffff;
}
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "Exo 2", Helvetica,Arial,sans-serif;
}

#topBar{
    height : $navHeight;
    border-bottom : solid 2px $blue;
    @include box-shadow($blue 0 0 10px);
    .active{
        background-color: $blue;
    }
    a:hover{
        background : none;
    }
}
.content{
    section{
        padding: $navHeight 25px 10px;
        .container{
          max-width: $maxWidth ;
          padding: 0;
        }
    }

    .sn{
        margin: 30px 0;

        .twitter{
            margin : 0 20px;

        }
    }
    #myself{
        text-align : center;

        height: $myselfHeight;
        padding : $myselfHeight/5 25px 10px;
        background: $blueFlat;
        #myself-text{
            color : #ffffff;
            margin-top : 15px;
        }
    }
    .avatar{
      width : $avatarWidth;
      border : 4px solid $blueFlatShadow;
    }

    #work{
        text-align : center;
        background : $greenFlat;
        .work-item{
            position : relative;
            margin : 0 0 10px 0 ;
            display: inline-block;
        }

        .work-thumbnail{
//          border: 1px solid $gray;
          border : none;
          background : $greenShadow;
          @include border-radius($borderRadius);
          padding : $workThumbnailPadding;
          img{
            max-width : $maxWidth;
            width: 100%;
            height : 100%;
          }
        }

        .work-link{
          position : absolute;
          bottom: 0;
          padding : 10px;
          color: white;

          background : rgba(0,0,0,.5);
          background: $greenShadow;
          left : 25%;
          min-width: 130px;
          @include border-top-left-radius($borderRadius);
          @include border-top-right-radius($borderRadius);


          a{
            text-decoration: none;
            color : #ffffff;
            cursor:pointer;

            &:hover{
              color: $greenFlat;
            }
          }
        }
    }

    #resume{
        text-align : center;
        padding-top : 25px;
        background-color : #fff;
        color : #000000;
        .nav-tabs{
            height : auto;
            @include zero();
            margin-top : 20px;
            border-bottom : none;

            li{
                @include zero();
                a{
                    @include zero();
                    padding: 10px;
                    color : $text-color;
                    border: 1px solid $gray;
                    position: relative;
                    line-height: 1em;
                    @include transition(all 0.2s ease-in-out 0s);
                    @include border-radius(0);

                    &:hover{
                        background-color : #fff;
                        border : solid 1px $blue;
                        color : $blue; 
                    }
                }
                &:first-child{
                    a{
                     @include border-top-left-radius($borderRadius);
                 }
             }
             &:last-child{
                a{
                    @include border-top-right-radius($borderRadius);
                }
            }

            &.active{
                a{
                    color : white;
                    background-color : $blue;
                    border-color : $blue;
                }
            }
        }
        
    }
}
.tab-content{
    border: 1px solid $gray;
    border-top:none;
    padding : 10px;
    text-align : left;
    @include border-bottom-left-radius($borderRadius);
    @include border-bottom-right-radius($borderRadius);
}

}