$text-color : #444;
$fontSize : 14px;
$page-background : #f5f5f5;
$blue : #327fc7;
$blueFlat : #449BB5;
$blueFlatLight : #3CB0D3;
$blueFlatShadow : #266A7E;

$greenFlat : #68C39F;
$greenShadow : #25A278;

$gray : #ddd;
$navHeight : 40px;
$myselfHeight : 400px;// background image's height of the top section.
$avatarWidth : 100px;// avatar width
$workItemHeight : 150px;
$workThumbnailPadding : 5px; // padding of a work thumbnail.
$borderRadius : 3px; // radius for general box
$circleWith : 65px;// circle width for social icons
$maxWidth : 960px; // max width of the content

$widthTablet : 768px;