* {
  box-sizing: border-box; }

.circle {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  border: solid 1px #e5e5e5; }
  .circle .icon {
    line-height: 65px;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .circle .icon:hover {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }

body {
  background-color: #f5f5f5; }

#topBar {
  height: 40px;
  border-bottom: solid 2px #327fc7;
  -webkit-box-shadow: #327fc7 0 0 10px;
  -moz-box-shadow: #327fc7 0 0 10px;
  box-shadow: #327fc7 0 0 10px; }
  #topBar .active {
    background-color: #327fc7; }
  #topBar a:hover {
    background: none; }

.content section {
  padding: 40px 25px 10px; }
.content .sn {
  margin: 30px 0; }
  .content .sn .twitter {
    margin: 0 20px; }
.content #myself {
  text-align: center;
  height: 400px;
  padding: 80px 25px 10px;
  background: url("images/header-bg.png") 0 0 repeat; }
  .content #myself .avator {
    width: 80px; }
  .content #myself #myself-text {
    color: #444444;
    margin-top: 15px; }
.content #work {
  text-align: center; }
  .content #work .work-item {
    position: relative;
    margin: 0 0 10px 0; }
    .content #work .work-item .work-thumbnail {
      border: 1px solid #dddddd;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background-color: #fff;
      padding: 5px; }
      .content #work .work-item .work-thumbnail img {
        width: 100%;
        height: 100%; }
    .content #work .work-item .work-link {
      position: absolute;
      left: 5px;
      bottom: 0; }
      .content #work .work-item .work-link span {
        font-size: 20px;
        text-decoration: none;
        color: white;
        cursor: pointer; }
        .content #work .work-item .work-link span:hover {
          color: #327fc7; }
.content #resume {
  text-align: center;
  padding-top: 25px;
  background-color: #fff; }
  .content #resume .nav-tabs {
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    border-bottom: none; }
    .content #resume .nav-tabs li {
      margin: 0;
      padding: 0; }
      .content #resume .nav-tabs li a {
        margin: 0;
        padding: 0;
        padding: 10px;
        color: #444444;
        border: 1px solid #dddddd;
        position: relative;
        line-height: 1em;
        -webkit-transition: all 0.2s ease-in-out;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; }
        .content #resume .nav-tabs li a:hover {
          background-color: #fff;
          border: solid 1px #327fc7;
          color: #327fc7; }
      .content #resume .nav-tabs li:first-child a {
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px; }
      .content #resume .nav-tabs li:last-child a {
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px; }
      .content #resume .nav-tabs li.active a {
        color: white;
        background-color: #327fc7;
        border-color: #327fc7; }
.content .tab-content {
  border: 1px solid #dddddd;
  border-top: none;
  padding: 10px;
  text-align: left;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }
